* {
    margin: 0;
    padding: 0;
    font-family: 'Neucha', 'Inter', sans-serif, Arial, Helvetica;
    letter-spacing: 1.5px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #FFBEA7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    max-width: 150px;
    height: auto;
    padding: 15px;
    border-radius: 50%;
}

a {
    color: #593D3B;
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Selectors for the home page begin here */

#home-container {
    font-size: 30px;
    color: #593D3B;
    margin-top: 250px;
    gap: 25px;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.title,
.author {
    text-align: center;
}

.start-button {
    font-size: 20px;
    color: #E7E6E7;
    margin-top: 25px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: #593D3B;
    transition-duration: 0.4s;
}

.start-button:hover {
    background-color: #765655;
}

/* Selectors for the game page begin here */

#game-container {
    min-width: 300px;
    font-size: 30px;
    text-align: center;
    color: #593D3B;
    margin: 75px 75px 35px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-message {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.round-results {
    margin-top: 15px;
    gap: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    margin-top: 60px;
    display: flex;
    gap: 10px;
}

.player,
.computer {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.player-name,
.computer-name {
    padding-bottom: 10px;
    border-bottom: 3px solid #593D3B;
}

.player-move,
.computer-move {
    max-width: 175px;
    max-height: 175px;
    font-size: 20px;
    padding: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-icons {
    gap: 50px;
    display: flex;
}

.rock,
.paper,
.scissors {
    background-color: #FFBEA7;
    border: 3px solid #E7E6E7;
    border-radius: 50%;
}

.rock:hover,
.paper:hover,
.scissors:hover {
    background-color: #e7e6e747;
}

.game-over-container {
    width: 400px;
    height: 225px;
    gap: 15px;
    border-radius: 10px;
    background-color: #F2F7F9;
    position: absolute;
    bottom: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over-sub-text {
    font-size: 20px;
}

.play-again {
    font-size: 20px;
    color: #F2F7F9;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: #593D3B;
    transition-duration: 0.4s;
}

.play-again:hover {
    background-color: #765655;
}

#footer {
    font-size: 18px;
    margin: 50px 0 150px;
    flex: 1;
}