* {
    margin: 0;
    padding: 0;
    font-family: 'Neucha', 'Inter', sans-serif, Arial, Helvetica;
    letter-spacing: 1.5px;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #FFBEA7;
    /* overflow: hidden; */
}

img {
    max-width: 150px;
    height: auto;
    padding: 15px;
    border: 3px solid #E7E6E7;
    border-radius: 50%;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Selectors for the home page begin here */

#home-container {
    min-width: 500px;
    height: auto;
    font-size: 30px;
    color: #593D3B;
    margin: 300px;
    gap: 25px;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.start-button {
    font-size: 20px;
    color: #E7E6E7;
    margin-top: 25px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: #593D3B;
    transition-duration: 0.4s;
}

.start-button:hover {
    background-color: #765655;
}

/* Selectors for the game page begin here */

#game-container {
    min-width: 800px;
    height: auto;
    font-size: 30px;
    text-align: center;
    margin: 150px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.round-message {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.round-results {
    margin: 15px 0;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.player-move {
    padding: 75px;
    background-color: #c39280;
}

.computer {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.computer-move {
    padding: 75px;
    background-color: #c39280;
}

.move-icons {
    max-width: 100%;
    height: auto;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
}

.rock,
.paper,
.scissors {
    background-color: #FFBEA7;
    border: none;
}

/*
Color palette:
--melon: #ffbea7ff;
--chocolate-web: #d8671dff;
--wintergreen-dream: #689689ff;
--dark-liver-horses: #593d3bff;
--black-coffee: #32292fff;
*/